<table class="table table-striped responsive-utilities jambo_table dataTable">
    <thead>
    <tr>
        <td>Action</td>
        <td>Date Start</td>
        <td>Date End</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in events">
        <td>
            <a ng-href="#/event/{{event.id}}" class="btn btn-success">View</a>
            <a ng-href="#/event/{{event.id}}/participants" class="btn btn-success">View Participants</a>
            <a ng-href="#/event/edit/{{event.id}}" class="btn btn-default">Edit</a>
            <a ng-click="removeGreeting(event.id, $index)" class="btn btn-warning">Delete</a>
        </td>

        <td>{{convertToDate(event.startDate)|date:'medium'}}</td>
        <td>{{event.endDate|date:'medium'}}</td>

    </tr>
    </tbody>
</table>
<a ng-href="#/event/form">New</a>