<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped responsive-utilities jambo_table dataTable">
    <thead>
    <tr>
        <td>Action</td>
        <td>Date Start</td>
        <td>Date End</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in events">
        <td><a ng-href="#/greeting/edit/{{event.id}}" class="btn btn-default">Edit</a>
            <a ng-click="removeGreeting(event.id, $index)" class="btn btn-warning">Delete</a>
        </td>

        <td>{{convertToDate(event.startDate)|date:'medium'}}</td>
        <td>{{event.endDate|date:'medium'}}</td>

    </tr>
    </tbody>
</table>
<a ng-href="#/greeting/form">New</a>
</body>
</html>